# Database Configuration
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_USERNAME=your_username
POSTGRES_DB_PASSWORD=your_password
POSTGRES_DB_NAME=takshal_db_db
POSTGRES_DB_SCHEMA=takshal_plan

# Application
PORT=3000
NODE_ENV=development

# Proxy External Services
AUTH_SERVICE_URL=http://auth-service:port
PERMISSIONS_SERVICE_URL=http://permissions-service:port
USE_MOCK_AUTH=true
